@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html,
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

/* Mobile-first header layout */
.header {
  display: grid;
  grid-template-columns: 1fr;
  background-color: cadetblue;
}

/* Title section */
.title {
  padding: 50px 25px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h4 {
  font-weight: 300;
}

/* Make image responsive */
img {
  width: 100%;
  height: auto;
  display: block;
}

/* Desktop layout (960px and up) */
@media (min-width: 960px) {

  .header {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }

  .title {
    text-align: left;
    padding-left: 60px;
  }
}
